html {
    height: 100%;
    background-color:red;
    background-image:url("http://photo.elcinema.com.s3.amazonaws.com/uploads/_315x420_3f79cead5971c68ae7304d51c057d07873f0eeba6b227122fd7c724b10284eeb.jpg");
}

body {
    height: 100%;

    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}


.header{
    display:flex;
    justify-content:center;
}

.navbar{
    display:flex;
    justify-content:space-between;
}

.footer{
    display:flex;
    justify-content:center;
}

.leftPane{
    font-size: 25px;
    color:red;
}

.thumbnail-image{
    width:400px;
    border:20px;
    margin: 20px;
}
    
.gallery{    
    display:flex;
    justify-content:space-between;
}